.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.container form h1 {
    margin-bottom: 30px;
}

.container form {
    width: 320px !important;
}